<div class="row">
  <div class="col-md-3 widget visible-lg visible-md">
    <%= render "account/achivements/level", user: @user, left: 4, right: 8, id: 1 %>
    <hr>
    <%= render "account/achivements/benefits" %>
    <hr>
    <h3 class="widget-title">Logros</h3>
    <%= render "account/achivements/timeline", user: @user %>
  </div>
  <div class="col-md-3 widget hidden-lg hidden-md">
    <div class="row text-center">
      <div class="col-xs-6">
        <%= render "account/achivements/level", user: @user, left: 12, right: 12, id: 2 %>
      </div>
      <div class="col-xs-6">
        <%= render "account/achivements/benefits" %>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="row">
      <% @achivements.each do |achivement| %>
      <div class="achivement col-xs-6 col-sm-4 text-center">
        <div class="post-entry-card">
          <% done = @user.achivement_acomplished achivement%>
          <% if done %>
            <i class="fa fa-check-circle fa-3x green done-icon"></i>
          <% end %>
          <%= image_tag achivement.icon.thumbnail.url, class: "#{done == false ? 'undone' : ''} #{achivement.get_kind}", style: "width: 40%;" %>
          <div class="post-info">
            <h3 class="post-title green" style="height: 48px;">
              <%= achivement.name %>
            </h3>
            <p class="post-excerpt">
              <%= truncate achivement.description, length: 150 %>
            </p>
            <span class="post-meta">
              <% if achivement.points < 0 %>
                De 10 a 2500 Puntos
              <% else %>
                + <%= achivement.points %> Puntos
              <% end %>
            </span>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
