<!DOCTYPE html>
<html>
<head>
  <title>AgroNeto | <%= @subtitle %></title>
  <meta name="author" content="AgroNeto">
  <meta name="viewport" content="width=device-width, initial-scale=0.85">

  <meta http-equiv="content-language" content="es_LA">

  <%= metamagic %>

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'template/application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag Ckeditor.cdn_url %>

  <link href='https://fonts.googleapis.com/css?family=Raleway:700,400,400italic,500' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,300,300italic' rel='stylesheet' type='text/css'>

  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <script type="application/ld+json">

  </script>

  <% if Rails.env == "production" %>


  <% end %>
  </head>

  <body ng-cloak>

    <h1 style="display:none;">AgroNeto | <%= @subtitle %></h1>

    <div id="wrapper">

      <% if session[:native_app].nil? %>
      <%= render "layouts/header" %>

      <br class="visible-xs visible-sm">
      <% if user_signed_in? %>
      <br class="visible-xs visible-sm">
      <br class="">
      <br class="">
      <% end %>

      <%= render "layouts/breadcrumbs" %>
      <% end %>
      <%#= render "ads/01"%>


      <div class="<%= params[:native_app].blank? ? 'page-content' : ''%>">
        <div class="container">
          <%= render "layouts/flash" %>

          <%= yield %>

          <% if !user_signed_in? && params[:controller] != "devise/sessions" && params[:controller] != "devise/registrations" && params[:controller] != "devise/passwords" && params[:controller] != "devise/confirmations" && !request.path.include?("landing/select_country") %>
          <%= render "layouts/subscribe_modal" %>
          <% elsif params[:controller] != "devise/sessions" && params[:controller] != "devise/registrations" && params[:controller] != "devise/passwords" && params[:controller] != "devise/confirmations" && !request.path.include?("landing/select_country") %>
          <% if current_user.interests.count == 0 %>
          <%= render "layouts/logged_action_modal" %>
          <% end %>
          <% end %>

        </div>
      </div>
      <% if session[:native_app].nil? %>
      <%= render "layouts/footer" %>
      <%= render "layouts/download_apps" %>
      <% end %>
      <% if session[:cookies].nil? && !request.path.include?("landing/select_country") %>
      <%= render "layouts/cookies" %>
      <% end %>
      <%= render "layouts/terms" %>
    </div>

    <%= javascript_include_tag 'template/application', 'data-turbolinks-track': 'reload' %>

    <script>
      AgroNeto.initialize();
      Hacks.init();
    </script>
  </body>
  </html>
